
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
}
a{
    text-decoration: none;
    color: #494e52;
}
body{
   
    color: #494e52;
    line-height: 1.5;
    font-size: 18px;
}

.container{
      border-bottom:  solid #f2f3f3;
}

.nav{
    width: 1200px;
    margin:0 auto;
    padding:1em 1em 1em;
  
    list-style: none;
   
}

.nav ul{
    list-style: none;  display: flex;
}

.nav ul li:first-child{
     font-weight: bold;
     margin-right: 2em;
     color:#7a8288;
     font-weight: 700 !important;
}
.nav ui li:first-child:hover{
  color:#313334
}
.nav ul li{
    margin: 0 1rem;
    padding: 0.5rem 0;
    cursor: pointer;
    color:#7a8288;
    font-weight: 300;

    
}


/* main part of portfilio*/

.main{
    width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 200px auto;
    margin-top: 2em;
    
}
.profile{
    margin:0 auto
}
.profile img{
    border-radius: 100%;
    width:170px;
    height:170px;
}
.profile ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.profile ul li:first-child{
    font-weight: 400;
    margin-top:1em;
    font-size: 1em;
    color:#313334
  
}
.profile ul li:nth-child(2){
    margin-bottom:1em ;
    margin-top:.5em;
    padding:0 .1em
}
.profile ul li{
    font-weight: 300;
    margin:.2em 0;
    font-size: .8em;
}
.info{
    display: flex;
    align-items: center;
    margin-bottom: .5em ;

}

.info img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    padding-bottom:3px;
}
.info span{
    margin-right:10px;
}
profile ul li span{
display: block;
padding:2px;
margin-right: 5px;
}
/*Details*/
.details{
    margin-left:3em;
    min-height: 100vh;
}
.title{
    color:#52adc8;
    text-decoration: underline;
    padding-top:1em;
    padding-bottom:.5em
}
.publication span{
    font-weight: 300;
}
.publication p{
    display: block;
    padding-top:1em
}
.publication a{
    color: #52adc8 !important;
}

#Research{
    margin:10em 0   ;
}

.reserch img{
    max-width: 600px;
}

#Achivement ul{
   list-style: square;
}
ul{
list-style: square ;
}
.award{
    display: flex;
    font-weight: 300;
    align-items: center;
    justify-content: left;
   
}
.award span{
    margin-right:10px;
}
.position{
    font-weight: 700;
}
#Achivement ul li {
  display: flex;
  flex-direction: column; 
  font-weight: 300;
  margin: 1em;
  list-style: circle;
}
.date{
    font-weight: 300;
   margin-left:2em;
    padding:.5em
}
.sc_info{
   margin-left:20px;padding:10px
}

footer{
    padding:2rem 0;
    background: rgba(0, 0, 0, 0.276);
    margin-top:10em;
    
   
}
footer p{
     width: 1200px;
    margin:0 auto;
}